################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RazorPages/bin/Debug
/RazorPages/obj
/My.Extensions.Localization.Json/bin
/My.Extensions.Localization.Json/obj
