@page
@model DeletePersonalDataModel
@inject IStringLocalizer<SharedResource> sharedLoc
@{
    ViewData["Title"] = sharedLoc["Delete Personal Data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@sharedLoc["Deleting this data will permanently remove"]</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control  form-control-light" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
    <button class="btn btn-danger" type="submit">@sharedLoc["Delete data and close my account"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}