@page
@model Disable2faModel
@inject IStringLocalizer<SharedResource> sharedLoc
@inject IHtmlLocalizer<SharedResource> sharedHtmlLoc
@{
    ViewData["Title"] = sharedLoc["Disable two-factor authentication (2FA)"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@sharedLoc["This action only disables 2FA."]</strong>
    </p>
    <p>
        @sharedHtmlLoc["Disabling 2FA Description"]
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@sharedLoc["Disable 2FA"]</button>
    </form>
</div>
