@page
@model AccessDeniedModel
@inject IStringLocalizer<SharedResource> sharedLoc


@{
        ViewData["Title"] = sharedLoc["Access denied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@sharedLoc["You do not have access to this resource."]</p>
</header>
