@page
@model ConfirmEmailChangeModel
@inject IStringLocalizer<SharedResource> sharedLoc
@{
        ViewData["Title"] = sharedLoc["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />