@page
@model ConfirmEmailModel
@inject IStringLocalizer<SharedResource> sharedLoc
@{
    ViewData["Title"] = sharedLoc["Confirm email"];
}

<h1>@ViewData["Title"]</h1>
@{

    if (Model.IsSucceed)
    {
        RedirectToPage("/Pricing");
    }

}