@page
@model ForgotPasswordConfirmation
@inject IStringLocalizer<SharedResource> sharedLoc
@{
    ViewData["Title"] = sharedLoc["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @sharedLoc["Please check your email to reset your password"].
</p>

