@page
@model LogoutModel
@inject IStringLocalizer<SharedResource> sharedLoc
@{
    ViewData["Title"] = sharedLoc["Log out"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@sharedLoc["You have successfully logged out of the application."]</p>
</header>