@page
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<SharedResource> sharedLoc
@inject IHtmlLocalizer<SharedResource> sharedHtmlLoc
@{
    ViewData["Title"] = sharedLoc["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
   @sharedHtmlLoc["Your password has been reset"] 
</p>
